// Project container style
.project-container{
    width: 100%;
    height: 100%;
}

.project-container__title{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    margin: 0rem 2rem;
}

.project-container__title__project{
    display: flex;
    color: #343C6A;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 550;
}

.project-container__title__add-project__btn{
    margin-left: .5rem;
    max-height: 1.7rem;
    max-width: 1.7rem;
}

.project-container__title__suggestions{
    display: flex;
    display: flex;
    color: #343C6A;
    align-items: center;
    font-size: .85rem;
    font-weight: 400;
}

.project-container__title__suggestions__icon{
    margin-right: .2rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.project-container__title__suggestions__icon__count{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .2rem;
    border-radius: 50%;
    background-color: black;
    min-height: 1.2rem;
    min-width: 1.2rem;
    color: white;
}

.project-container__navbar{
    display: flex;
    padding: 1.5rem 0rem 1rem 0rem;
    margin: 0rem 2rem;
    border-bottom: .07rem solid #F0F0F0;
}

.project-container__navbar__option{
    margin: 0rem 2rem 0rem 0rem;
    padding: 1rem 0;
    color: #7E90B0;
    font-size: .875rem;
    outline: none;
    cursor: pointer;
}

.project-navbar-selected{
    color: #343C6A;
    border-bottom: solid 0.15rem #343C6A;
}

.project-container__analysis{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2rem;
    padding-top: 2.5rem;
}

.project-container__analysis__count{
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 400;
    color: #343C6A;
}

.project-container__analysis__search-bar{
    min-width:  18.5rem;
    min-height: 2.2rem;
    border: 0.07rem solid #D6D8E5;
    border-radius: .5rem;
    margin: 0rem .25rem;
    padding-left: 2rem;
    text-overflow: ellipsis;
    outline: none;
}

.project-container__analysis__search-bar:focus{
    color: #343C6A;
}

.project-container__analysis__search-icon{
    position: absolute;
    right: 17.2rem;
    max-width: 1rem;
    max-height: 1rem;
}

.project-container__footer{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin: 0rem 2rem;
    padding: 2rem 0.5rem;
}

.project-container__footer__arrow-img{
    max-width: 1rem;
    max-height: 1rem;
}

.project-container__footer__selected-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: .25rem;
    border: 0.07rem solid #343C6A;
    margin: 0rem .5rem;
}

.project-container__entry{
    position: relative;
    margin: 0rem 2rem;
    padding-top: 2.5rem;
    overflow-y: scroll;
}

.project-container__entry__title{
    display: flex;
    height: 4.5rem;
    max-width: 68.91796rem;
    align-items: center;
    justify-content: space-between;
    background-color: #E2E5F2;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.project-container__entry td{
    width: 8.614745rem;
    height: 3.5rem;
    padding: 1.2rem;
    color: #343C6A;
    font-size: .875rem;
    overflow: hidden;
}

.project-container__entry__data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .07rem solid #F0F0F0;
}

.project-container__entry__data:hover{
    background-color: #FAFAFA;
}

.project-container__no-data{
    margin: 3rem 2rem;
    padding-bottom: 3rem;
    border-bottom: .07rem solid #F0F0F0;
}

.project-container__debounce-loading{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(250,250,250, 0.7);
}

